# Clustering

## Clustering Project 1

In [9]:
import pandas as pd
df=pd.read_csv("D:\Downloads\Cereals.csv")
df=df.dropna()
x=df[['Calories', 'Protein', 'Fat', 'Fiber', 'Carbo', 'Sodium', 'Sugars', 'Potass',  'Vitamins']]
#standardscaler 
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_std=scaler.fit_transform(x)

In [10]:
#agglomerative Clustering
from sklearn.cluster import AgglomerativeClustering
cluster=AgglomerativeClustering(n_clusters=2, affinity='euclidean',linkage='complete')
cluster.fit_predict(x_std)
print(cluster.labels_)

[1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [11]:
count=0
count1=0
for i in cluster.labels_:
    if i==0:
        count=count+1
    else:
        count1=count1+1

In [12]:

#KMeans method       
from sklearn.cluster import KMeans
kmeans=KMeans(random_state=4,n_clusters=2)
model=kmeans.fit(x_std)
labels=model.predict(x_std)

count_1=0
count_2=0
for i in labels:
    if i==0:
        count_1=count_1+1
    else:
        count_2=count_2+1
        
  
cluster1=kmeans.cluster_centers_[0]


cluster2=kmeans.cluster_centers_[1]

In [16]:
print('Agglomerative clustering','First Cluster',count)
print('Agglomerative clustering','First Cluster',count1)
print('K means','First Cluster',count_1)
print('K means','First Cluster',count_2)

Agglomerative clustering First Cluster 71
Agglomerative clustering First Cluster 3
K means First Cluster 51
K means First Cluster 23

## Clustering Project 2

### Part 1

In [17]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

#read data into data frame, data
data = pd.read_csv(r'C:\Users\hisha\Desktop\Certfication\EastWestAirlinesCluster.csv')

# Fill missing values with mean column values in the data set
data.fillna(data.mean(), inplace=True)

#drop the columns that we don't need!
data = data.drop(['ID#','Award?'], axis=1)


print("***** New Data Set *****")
print(data.head())
print("")

***** New Data Set *****
   Balance  Qual_miles  cc1_miles  cc2_miles  cc3_miles  Bonus_miles  \
0    28143           0          1          1          1          174
1    19244           0          1          1          1          215
2    41354           0          1          1          1         4123
3    14776           0          1          1          1          500
4    97752           0          4          1          1        43300

   Bonus_trans  Flight_miles_12mo  Flight_trans_12  Days_since_enroll
0            1                  0                0               7000
1            2                  0                0               6968
2            4                  0                0               7034
3            1                  0                0               6952
4           26               2077                4               6935

In [18]:
print("*****Cluster Analysis*****")
kmeans = KMeans(n_clusters=7).fit(data)

#save the centroid for each cluster
centroids = kmeans.cluster_centers_

#if you don't do this, your centroid values will be in scientific notation
np.set_printoptions(precision=2,suppress=True)

#Print your centroid for each cluster
print(data.columns.values)
print(centroids)
print()

*****Cluster Analysis*****
['Balance' 'Qual_miles' 'cc1_miles' 'cc2_miles' 'cc3_miles' 'Bonus_miles'
 'Bonus_trans' 'Flight_miles_12mo' 'Flight_trans_12' 'Days_since_enroll']
[[  19458.88      90.2        1.36       1.02       1.      5919.38
        7.59     207.23       0.66    3600.9 ]
 [ 222080.24     309.48       2.92       1.         1.     34623.41
       18.08    1086.89       3.12    5110.36]
 [ 728360.05     258.64       3.5        1.         1.14   62470.82
       22.      1600.91       5.73    6189.68]
 [ 126765.44     227.37       3.03       1.01       1.04   32853.53
       16.59     786.57       2.3     4728.25]
 [ 397989.51     451.18       3.18       1.04       1.     48785.76
       19.3     1560.87       4.78    5879.01]
 [1288915.8     1528.         3.         1.         1.     39098.
       24.6     2754.6       11.4     7821.6 ]
 [  63887.34     125.15       2.47       1.01       1.02   21346.18
       13.75     473.88       1.36    4295.49]]

In [19]:

#add new column to data frame to add the cluster label to each row
data['Cluster'] = kmeans.labels_

print(pd.pivot_table(data,index=["Cluster"],values=["Balance"],aggfunc=[len]))
print(pd.pivot_table(data,index=["Cluster"],values=["Balance"],aggfunc=[np.mean]))
print()
print()

#copy output to Excel file named output.xlsx
writer = pd.ExcelWriter('output.xlsx')
data.to_excel(writer,index=False)
writer.save()

            len
        Balance
Cluster
0          1962
1           258
2            22
3           587
4            82
5             5
6          1083
                 mean
              Balance
Cluster
0        1.948167e+04
1        2.220802e+05
2        7.283600e+05
3        1.268124e+05
4        3.979895e+05
5        1.288916e+06
6        6.396074e+04

### Part 2

In [20]:

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

#read data into data frame, data
data = pd.read_csv(r'C:\Users\hisha\Desktop\Certfication\EastWestAirlinesCluster.csv')

# Fill missing values with mean column values in the data set
data.fillna(data.mean(), inplace=True)

#drop the columns that we don't need!
data = data.drop(['ID#','Award?','Days_since_enroll','Bonus_trans'], axis=1)


print("***** New Data Set *****")
print(data.head())
print("")

***** New Data Set *****
   Balance  Qual_miles  cc1_miles  cc2_miles  cc3_miles  Bonus_miles  \
0    28143           0          1          1          1          174
1    19244           0          1          1          1          215
2    41354           0          1          1          1         4123
3    14776           0          1          1          1          500
4    97752           0          4          1          1        43300

   Flight_miles_12mo  Flight_trans_12
0                  0                0
1                  0                0
2                  0                0
3                  0                0
4               2077                4

In [21]:

print("*****Cluster Analysis*****")
kmeans = KMeans(n_clusters=5).fit(data)

#save the centroid for each cluster
centroids = kmeans.cluster_centers_

#if you don't do this, your centroid values will be in scientific notation
np.set_printoptions(precision=2,suppress=True)

#Print your centroid for each cluster
print(data.columns.values)
print(centroids)
print()

*****Cluster Analysis*****
['Balance' 'Qual_miles' 'cc1_miles' 'cc2_miles' 'cc3_miles' 'Bonus_miles'
 'Flight_miles_12mo' 'Flight_trans_12']
[[ 26327.93    100.61      1.56      1.02      1.     8699.34    262.15
       0.81]
 [419966.51    449.97      3.26      1.03      1.    49823.33   1598.38
       5.03]
 [ 98491.52    161.38      2.83      1.01      1.03  27974.81    625.3
       1.82]
 [922162.53    564.74      3.21      1.        1.16  58492.05   1607.53
       6.26]
 [208494.03    308.92      3.01      1.01      1.01  35398.11   1052.47
       2.94]]

In [22]:
#add new column to data frame to add the cluster label to each row
data['Cluster'] = kmeans.labels_

print(pd.pivot_table(data,index=["Cluster"],values=["Balance"],aggfunc=[len]))
print(pd.pivot_table(data,index=["Cluster"],values=["Balance"],aggfunc=[np.mean]))
print()
print()

#copy output to Excel file named output.xlsx
writer = pd.ExcelWriter('output.xlsx')
data.to_excel(writer,index=False)
writer.save()

            len
        Balance
Cluster
0          2505
1            88
2          1045
3            19
4           342
                  mean
               Balance
Cluster
0         26283.690220
1        419966.511364
2         98341.150239
3        922162.526316
4        208322.871345